{%- assign error_html = '' -%}{%- assign gl_shopify_error = false -%}
<div class="page-head pr tc{%- if settings.login_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.login_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.login_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ settings.login_bg_image | img_url: '50x50' }})"{%- endif -%}>   <div class="jas-container pr">
      <h1 class="tu mb__10 cw" itemprop="headline">{{ 'customer.activate_account.title' | t }}</h1>
      <p></p>
      <ul class="jas-breadcrumb dib oh">
         <li class="fl home"><a href="/" title="{{ 'general.layout.breadcrumb.home' | t }}">{{ 'general.layout.breadcrumb.home' | t }}</a></li>
         <li class="fl separator"> <i class="fa fa-angle-right"></i> </li>
         <li class="fl current"> {{ 'customer.activate_account.title' | t }}</li>
      </ul>
   </div>
</div>
<div class="jas-container">
   <div class="jas-row jas-page">
      <div class="jas-col-md-12 jas-col-xs-12 mt__60 mb__60" role="main" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
         <div class="shopify">
            <ul id="gl_shopify_error" class="shopify-error" style="display:none;">
               <li class="html_li" id="jas_html_frm"></li>
            </ul>
            <div class="jas-container login-form">
               <div class="form-login" id="jas_CustomerLoginForm">
                  <h2>{{ 'customer.activate_account.subtext' | t }}</h2>
                  {%- form 'activate_customer_password',class:'lost_reset_password login_active_acount' -%}
                     {%- if form.errors -%}
                        {%- assign gl_shopify_error = true -%}
                        {%- for field in form.errors -%}
                           {%- if field == 'form' -%}
                              {%- assign error_html = form.errors.messages[field] -%}
                           {%- else -%}
                              {%- assign error_html = form.errors.translated_fields[field] | append:form.errors.messages[field] -%}
                           {%- endif -%}
                        {%- endfor -%}
                     {%- endif -%}
                     <p class="shopify-FormRow shopify-FormRow--wide form-row form-row-wide">
                        <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }} <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}" class="shopify-Input shopify-Input--text input-text" >
                     </p>
                     <p class="shopify-FormRow shopify-FormRow--wide form-row form-row-wide">
                        <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }} <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}" class="shopify-Input shopify-Input--text input-text">
                     </p>
                     <p class="shopify-FormRow form-row login_active_btn">          
                        <input type="submit" class="shopify-Button button" value="{{ 'customer.activate_account.submit' | t }}">
                        <input type="submit" name="decline" class="shopify-Button button fr" value="{{ 'customer.activate_account.cancel' | t }}">
                     </p>
                  {%- endform -%}
               </div>
            </div>
         </div>
      </div>
      <!-- $classes -->
   </div>
   <!-- .jas-row -->
</div>
<script type="text/javascript">
  {%- if gl_shopify_error -%}
      {%- if error_html != blank -%}
      var html = {{error_html | json }};
      var element = document.getElementById("jas_html_frm");
          element.innerHTML = '{{ 'customer.login.error' | t }} '+html;
      
      {%- endif -%}
      document.getElementById('gl_shopify_error').style.display = 'block';
  {%- endif -%}
</script>

